@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "oswald",sans-serif;
}

/****************************Cabeçalho***********************************************/


header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    
}
header img{
    padding: 20px;
}

header img:hover{
    -webkit-transform: scale(1.2);
    transform: scale(1.1);   

}
nav{
    padding: 30px;
}
a{
    padding: 10px;
    color: black;
    text-decoration: none;

}
a:hover{
    color: rgb(13, 236, 225);
    font-weight: bold; 
    
}
.me:hover{
    -webkit-transform: scale(1.2);
    transform: scale(1.1);  
}
/****************************Presentation***********************************************/

.indexPage{
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}
.imgMyself{
    padding-right: 200px;
}
.me{
    border-radius: 25px;
}

.presentation{
    
    width: 500px;
    height: 500px;
    border-radius: 25px;
    text-align: center;
    align-items: center;
    display: block;
    padding-left: 100px;
    

}


h2{
    text-align: center;
    padding: 20px;
}
h1{
    padding: 20px;
}
.presentation{
    text-align: justify;
}
.languages{
    align-items: center;
    text-align: center;
}
.tools{
    padding: 20px;
}
.languages img:hover{

    -webkit-transform: scale(5.2);
    transform: scale(1.5);   
}
.hello{
    padding:15px;
}


/****************************About Me***teste********************************************/

.information{
    width: 600px;
    height: auto;
    padding: 30px;
    margin: 30px;
    text-align: justify;
}


li{
    margin-right: 300px;
}

.mainBaoutMe{
    text-align: center;
}
.ABoutMe{
    display: flex;
    justify-content: space-around;
}
hr{
    margin: 5px;
}
.textME{
    padding: 10px;
    text-align: justify;
    width: 600px;
    height: auto;
}


/****************************projetos  ********************************************/


.projetos{
    display: flex;
    flex-direction: row;
    justify-content: space-between
    
}

.divprojetos{

    width: 600px;
    align-items: center;
    text-align: justify;
    padding: 10px;
    border: 1px black solid;
    margin: 30px;
}
.projetos p{
    padding: 10px;
}
.divprojetos:hover{
    -webkit-transform: scale(5.2);
    transform: scale(1.1); 
}